<html>
    <head>
        <title>COVID Impact</title>
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
        />
        <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
        />
        
      <!-- NB Essential-->
      
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous" />
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" />
      
<!-- NB Essential-->  
        
        
        
        
    </head>
    
    
   <!-- Navbar -->

    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand" style="font-weight: 600">IMPACT OF COVID-19 <div style="font-size: 18px"> ON WORLD COUNTRIES </div> </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="index.html" class="nav-link">COVID - 19</a>
            </li>
            <li class="nav-item">
              <a href="precautions.html" class="nav-link">Precautions</a>
            </li>
            <li class="nav-item">
              <a href="impact.html" class="nav-link">Countries</a>
            </li>
            <li class="nav-item">
              <a href="about-us.html" class="nav-link">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- Navbar -->
 
    
    

    <body>
        <center><h2><b><i>COVID IMPACT ON COUNTRIES</i></b></h2></center>
        <table class = "table table-bordered">
            <thead class = "thead-dark">
                <tr>
                    <th>Country</th>
                    <th>Infected</th>
                    <th>Recovered</th>
                    <th>Tested</th>
                    <th>Deceased</th>
                    <th>Source</th>
                    <th>Last Updated</th>
                </tr>
            </thead>

            <tbody>
                {% for i in range(length) %}

                <!--Country-->
                {% set country = table[i]['country']%}

                <!--Infected-->
                {% set infected = table[i]['infected']%}

                <!--Recovered-->
                {% set recovered = table[i]['recovered']%}

                <!--Tested-->
                {% set tested = table[i]['tested']%}

                <!--Deceased-->
                {% set deceased = table[i]['deceased']%}

                <!--Source-->
                {% set source = table[i]['source']%}

                <!--Last Updated Date-->
                {% set last_updated = table[i]['lastUpdatedApify']%}

                <!--Display data in table row-->
                <tr>
                    <td>{{country}}</td>
                    <td>{{infected}}</td>
                    <td>{{recovered}}</td>
                    <td>{{tested}}</td>
                    <td>{{deceased}}</td>
                    <td>{{source}}</td>
                    <td>{{last_updated}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        
   <!-- NavBar JS -->
        
   
       <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"
      ></script>
      <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
  
      <script>
        mapboxgl.accessToken =
          'pk.eyJ1IjoiYnRyYXZlcnN5IiwiYSI6ImNrbmh0dXF1NzBtbnMyb3MzcTBpaG10eXcifQ.h5ZyYCglnMdOLAGGiL1Auw'
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [-71.060982, 42.35725],
          zoom: 18,
        })
      </script>     
        
        
        
   <!-- NavBar JS -->

        
        
        
    </body>
</html>
